/* Reset */
@import url('reset.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /* height: 100vh; */
  font-family: 'Poppins', sans-serif;
}

.primary_text {
  color: #666;
}

.center {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: inline-block;
}

.hero {
  font-size: 0;
}

.container {
  display: inline-block;
}

.left_container {
  width: 60%;
  height: 100vh;
  font-size: medium;
  position: relative;
}

.right_container {
  width: 40%;
  font-size: medium;
  background-color: #F7F8FB;
  height: 100vh;
  position: relative;
}

.info_title {
  font-size: 32px;
  margin-top: 64px;
  margin-bottom: 24px;
  font-weight: 300;
}

.info_list {
 list-style-type: disc;
}

.info_list li {
  font-size: 18px;
  font-weight: 200;
  padding: 8px;
  padding-left: 16px;
}




